# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.settings/.jsdtscope
.settings/org.eclipse.jdt.core.prefs
*.lst
target/maven-archiver/pom.properties
*.class
*.jar
*.war
target/bookstore-0.0.1-SNAPSHOT/resources/bootstrap/css/bootstrap-theme.css
target/bookstore-0.0.1-SNAPSHOT/resources/bootstrap/css/bootstrap-theme.css.map
target/bookstore-0.0.1-SNAPSHOT/resources/bootstrap/css/bootstrap-theme.min.css
target/bookstore-0.0.1-SNAPSHOT/resources/bootstrap/css/bootstrap.css.map
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.validation.prefs
src/main/java/fr/meritis/bookstore/repository/BookRepository.java
target/bookstore-0.0.1-SNAPSHOT/resources/bootstrap/css/bootstrap.css
target/bookstore-0.0.1-SNAPSHOT/resources/bootstrap/css/bootstrap.min.css.map
target/bookstore-0.0.1-SNAPSHOT/resources/bootstrap/fonts/glyphicons-halflings-regular.eot
target/bookstore-0.0.1-SNAPSHOT/resources/bootstrap/js/bootstrap.js
target/bookstore-0.0.1-SNAPSHOT/WEB-INF/pages/create-book.jsp
target/classes/META-INF/persistance.xml
web-resources/META-INF/MANIFEST.MF
target/classes/user.ldif
*.map
target/bookstore-0.0.1-SNAPSHOT/resources/bootstrap/css/bootstrap.min.css
target/bookstore-0.0.1-SNAPSHOT/resources/bootstrap/fonts/glyphicons-halflings-regular.svg
target/m2e-wtp/web-resources/META-INF/maven/fr.meritis/bookstore/pom.xml
*.properties
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
target/bookstore-0.0.1-SNAPSHOT/WEB-INF/pages/index.jsp
target/bookstore-0.0.1-SNAPSHOT/resources/bootstrap/js/npm.js
target/bookstore-0.0.1-SNAPSHOT/resources/bootstrap/css/login.css
.project
.classpath
target/bookstore-0.0.1-SNAPSHOT/resources/bootstrap/fonts/glyphicons-halflings-regular.woff2
target/bookstore-0.0.1-SNAPSHOT/WEB-INF/web.xml
target/bookstore-0.0.1-SNAPSHOT/WEB-INF/classes/META-INF/persistance.xml
target/bookstore-0.0.1-SNAPSHOT/WEB-INF/pages/books.jsp
target/bookstore-0.0.1-SNAPSHOT/WEB-INF/applicationContext.xml
target/bookstore-0.0.1-SNAPSHOT/resources/bootstrap/js/bootstrap.min.js
target/bookstore-0.0.1-SNAPSHOT/WEB-INF/classes/user.ldif
target/bookstore-0.0.1-SNAPSHOT/resources/bootstrap/css/index.css
target/bookstore-0.0.1-SNAPSHOT/resources/bootstrap/fonts/glyphicons-halflings-regular.ttf
target/bookstore-0.0.1-SNAPSHOT/resources/bootstrap/fonts/glyphicons-halflings-regular.woff
target/bookstore-0.0.1-SNAPSHOT/WEB-INF/security-config.xml
target/bookstore-0.0.1-SNAPSHOT/WEB-INF/pages/login.jsp
/target/
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
